/**---------------HISTORIA, PAGINA WEB---------------*/

/**h2 del div empezo-animacion*/
.empezo-animacion h2 {
  text-align: center;
  margin: 30px;
  display: flex;
  justify-content: center;
  color: #00adb5;
  text-shadow: #00adb5 0 0 4px;
}

/**hr de debajo del h2 del div empezo-animacion*/
.empezo-animacion hr {
  background-color: #222831;
  height: 3px;
  width: 10vw;
  margin: 20px auto;
  display: flex;
  justify-items: center;
  justify-content: center;
}

/**div que contiene los div empezo-animacion*/
.noticia {
  width: 90%;
  margin: 20px auto;
  color: #393e46;
  padding: 25px;
  opacity: 0.9;
}

/**parrafo del div noticia*/
.noticia p {
  font-size: 20px;
}

/**imagenes situadas a la izquierda de los div noticia*/
.noticia .izquierda {
  float: left;
  margin-right: auto;
  margin: 10px;
  width: 100%;
  max-width: 300px;
  height: 300px;
}

/**imagenes situadas a la derecha de los div noticia*/
.noticia .derecha {
  float: right;
  margin-left: 15px;
  margin: 10px;
  width: 100%;
  max-width: 300px;
  height: 200px;
}
