* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
}

/**INICIO DE SESION*/

.iniciosesion-section {
  background: url(../../Imagenes/fondo-login3.jpg) no-repeat center;
  background-size: cover;
  padding: 40px 0;
  height: auto;
}

.iniciosesion-section .contact-form .error {
  color: #e4320a;
  text-align: center;
  border: solid white 3px;
  font-size: 20px;
  background-color: #222831;
  padding: 5px;
  margin: 5px;
  width: 50%;
}

.iniciosesion-section .contact-form .correcto {
  color: greenyellow;
  text-align: center;
  border: solid white 3px;
  font-size: 20px;
  background-color: #222831;
  padding: 5px;
  margin: 5px;
  width: 50%;
}

.iniciosesion-cabecera {
  margin: 20px;
  height: 300px;
}

.iniciosesion-cabecera img {
  margin: 0 auto;
  text-align: center;
  display: block;
}

.iniciosesion-cabecera h1,
h3 {
  text-align: center;
  color: #00adb5;
  text-shadow: #00adb5 0 0 10px;
}

.captcha {
  text-align: center;
}

.captcha img {
  border: white solid 3px;
}

/**REGISTRO DE USUARIO*/

.registro-section {
  background: url(../../Imagenes/fondo-registro3.jpg) no-repeat center;
  background-size: cover;
  padding: 40px 0;
}

.registro-section .contact-form .error {
  color: #e4320a;
  text-align: center;
  border: solid white 3px;
  font-size: 20px;
  background-color: #222831;
  padding: 5px;
  margin: 5px;
  width: 50%;
}

.registro-section .contact-form .correcto {
  color: greenyellow;
  text-align: center;
  border: solid white 3px;
  font-size: 20px;
  background-color: #222831;
  padding: 5px;
  margin: 5px;
  width: 50%;
}

.registro-cabecera {
  margin: 20px;
  height: 300px;
}

.registro-cabecera img {
  margin: 0 auto;
  text-align: center;
  display: block;
}

.registro-cabecera h1,
h3 {
  text-align: center;
  color: #00adb5;
  text-shadow: #00adb5 0 0 10px;
}

.registro-section h1,
h3 {
  text-align: center;
  color: #ddd;
  text-shadow: #ddd 0 0 10px;
}

.registro-section label {
  text-align: center;
  color: #ddd;
}

.privacidad {
  color: #393e46;
  text-align: center;
  border: #eee solid 3px;
  overflow: scroll;
  height: 300px;
  background-color: white;
  opacity: 0.9;
}

.div-crear {
  display: block;
  margin: 30px auto;
}

.div-crear span {
  display: block;
}

.div-crear button {
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
  background-color: #00adb5;
  border-radius: 15px 15px;
  border: solid 3px #00adb5;
}

.div-crear button a {
  color: white;
  text-decoration: none;
}

.crear {
  color: white;
  text-align: center;
}
