/**---------------DATOS PAGINA WEB-----------------*/

/**div principal de la pagina datos*/
.mapa {
  background-color: #fff;
  padding: 30px 0;
}

/**h2 del div mapa (titulo)*/
.mapa h2 {
  color: #00adb5;
  text-shadow: #00adb5 0 0 4px;
  text-align: center;
}

/**imagen del planeta del div mapa*/
.mapa .planeta {
  text-align: center;
  margin: auto;
  width: 200px;
  height: 200px;
  display: block;
}

/**h4 del div mapa (titulos de las secciones)*/
.mapa h4 {
  color: #00adb5;
  text-shadow: #00adb5 0 0 4px;
  text-align: center;
}

/**paárrafos del div mapa*/
.mapa p {
  color: #222831;
  text-align: center;
  width: 50%;
  margin: auto;
  margin-bottom: 0px;
}

/**div de las dos tablas del div mapa*/
.tablas {
  margin: 50px auto;
  width: 700px;
  display: flex;
  box-shadow: #00adb5 10px 10px 10px;
}

/**las tablas del div mapa*/
.tablas table {
  background-color: white;
  text-align: left;
  border: #222831 solid 3px;
  width: 100%;
}

/**cabecera de las tablas del div mapa*/
.tablas thead {
  background-color: #00adb5;
  border-bottom: solid 5px black;
  color: white;
}

/**elementos th y td de las tablas del div mapa*/
.tablas th,
td {
  padding: 20px;
  text-align: center;
}

/**elementos th y td de las tablas del div mapa*/
.tablas thead th {
  text-align: center;
}

.tablas thead tr:nth-child(even) {
  background-color: #393e46;
}

/**cuerpo de las tablas del div mapa*/
.tablas tbody {
  background-color: #222831;
  color: #fff;
}

/**efecto hover de las filas de las tablas*/
.tablas tr:hover td {
  background-color: #00adb5;
  color: #fff;
}

/**imagenes de las tablas del div mapa*/
.tablas img {
  width: 25px;
}

/**tamaño de las imagenes de las banderas de la lista de producto más vendido de cada país*/
.list-group-item img {
  width: 25px;
}

/**tamaño de las imagenes de la lista del producto más vendido de cada país*/
.tab-pane img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

/**Tamaño de la tablas en cualquier tamaño adaptable*/
@media screen and (max-width: 600px) {
  .tablas {
    width: 100%;
  }
  .tablas thead th {
    width: 100%;
    display: block;
    text-align: center;
  }
  .tablas tr:nth-of-type(2n) {
    background-color: inherit;
  }
  .tablas tr td:first-child {
    background: #f0f0f0;
    font-weight: bold;
    font-size: 1.3em;
    color: #00adb5;
  }
  .tablas tbody td {
    display: block;
    text-align: center;
  }
  .tablas tbody td:before {
    content: attr(data-th);
    display: block;
    text-align: center;
  }
}
