* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
}

/**-----INICIO DE SESION-----*/

/**div principal del cuerpo de la pagina de inicio de sesion (formulario y paginas)*/
.iniciosesion-section {
  background: url(../../Imagenes/fondo-login3.jpg) no-repeat center;
  background-size: cover;
  padding: 40px 0;
}

/**div del captcha*/
.captcha {
  text-align: center;
}

/**imagen captcha*/
.captcha img {
  border: white solid 3px;
}

/**div de algunos enlaces para algunas paginas*/
.div-crear {
  margin: 30px auto;
  width: 75%;
  text-align: center;
  max-height: auto;
}

/**parrafos del div-crear*/
.div-crear p {
  color: white;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  margin: 10px auto;
}

/**boton del div-crear*/
.div-crear button {
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
  background-color: #00adb5;
  border-radius: 15px 15px;
  border: solid 3px #00adb5;
}

/**enlace del boton del div-crear*/
.div-crear button a {
  color: white;
  text-decoration: none;
}

/**div del enlace a la pagina de registro de cuenta*/
.crear {
  color: white;
  text-align: center;
}

/**enlace para cambiar la contarseña*/
.recordar_pass {
  text-decoration: underline;
  color: #00adb5;
}

/**efecto hover para el enlace para cambiar la contarseña*/
.recordar_pass:hover {
  text-decoration: underline;
  color: white;
}

/**-----REGISTRO DE USUARIO-----*/

/**div principal del cuerpo de la pagina de registro (formulario y volver)*/
.registro-section {
  background: url(../../Imagenes/fondo-registro3.jpg) no-repeat center;
  background-size: cover;
  padding: 40px 0;
}

/**label del formulario de registro*/
.registro-section label {
  text-align: center;
  color: #ddd;
}

/**campo de plotica de privacidad del formulario de registro*/
.privacidad {
  color: #393e46;
  text-align: center;
  border: #eee solid 3px;
  overflow: scroll;
  height: 300px;
  background-color: white;
  opacity: 0.9;
}

.privacidad p {
  color: #393e46;
  text-align: center;
}

/**-----RECORDAR Y NUEVA CONTRASEÑA-----*/

/**div principal del cuerpo de la pagina de cambiar y nueva contraseña (formulario y volver)*/
.recordar-section {
  background: url(../../Imagenes/somos2.jpg) no-repeat center;
  background-size: cover;
  padding: 40px 0;
  width: 100%;
  height: 70vh;
}

/**-----¿QUIENES SOMOS?-----*/

/**div principal del cuerpo de la pagina ¿Quienes somos?*/
.somos-section {
  background-color: #222831;
  background-size: cover;
  padding: 40px 0;
  height: auto;
}

/**parrafos del div principal del cuerpo de la pagina ¿Quienes somos?*/
.somos-section p {
  color: white;
  display: block;
  text-align: center;
}

/**imagenes de la pagina ¿Quienes somos?*/
.img-somos {
  width: 70%;
  text-align: center;
  margin: 0 auto;
  display: block;
}

/**div dentro del somos-section*/
.somos-texto {
  width: 70%;
  text-align: center;
  margin: 0 auto;
  display: block;
}

/**parrafos del div somos-section*/
.somos-texto p {
  color: white;
}

/**imagenes del div somos-texto*/
.somos-texto img {
  max-width: 100%;
  height: auto;
  margin: 10px;
}

/**div de los servicios de la pagina ¿Quienes somos?*/
.tarjetas {
  display: inline-block;
  text-align: center;
}

/**titulo del div de los servicios de la pagina ¿Quienes somos?*/
.tarjetas h3 {
  text-align: center;
  color: #00adb5;
  text-shadow: #00adb5 0 0 10px;
}

/**tarjetas de los servicios de la pagina ¿Quienes somos?*/
.tarjetas .card {
  background-color: #222831;
  border: none;
}

/**iconos de lastarjetas de los servicios de la pagina ¿Quienes somos?*/
.tarjetas .card i {
  font-size: 150px;
  color: #00adb5;
  margin: 15px auto;
  text-shadow: #00adb5 3px 3px 10px;
}

/**titulo y parrafo de las tarjetas de los servicios de la pagina ¿Quienes somos?*/
.tarjetas .card h4,
p {
  color: white;
  text-align: center;
}

/**-----COMUNES-----*/

/**div principal de la cabecera de la pagina de inicio de sesion (logo, titulo y sub-titulo)*/
.cabecera {
  margin: 20px;
  height: 300px;
}

/**imagen del logo de la cabecera de la pagina de inicio de sesion*/
.cabecera img {
  margin: 0 auto;
  text-align: center;
  display: block;
}

/**titulo de la cabecera de la pagina de inicio de sesion*/
.cabecera h1 {
  text-align: center;
  color: #00adb5;
  text-shadow: #00adb5 0 0 10px;
}

/**sub-titulo de la cabecera de la pagina de inicio de sesion*/
.cabecera h3 {
  text-align: center;
  color: #00adb5;
  text-shadow: #00adb5 0 0 10px;
}

/**aviso de un error de un formulario*/
.error {
  color: #e4320a;
  text-align: center;
  border: solid white 3px;
  font-size: 20px;
  background-color: #222831;
  padding: 5px;
  margin: 5px;
  width: 50%;
}

/**aviso de un proceso correcto de un formulario*/
.correcto {
  color: greenyellow;
  text-align: center;
  border: solid white 3px;
  font-size: 20px;
  background-color: #222831;
  padding: 5px;
  margin: 5px;
  width: 50%;
}

/**imagen cambiar idioma*/
.menu img {
  width: 50px;
  height: 50px;
  display: block;
  margin: 0 auto;
}

/**input de la contraseña donde se mostrara una imagen para mostrar la contraseña*/
.ojo {
  position: relative;
  width: 100%;
}

/**icono del ojo que mostrara la contraseña*/
.ojo i {
  color: #00adb5;
  position: absolute;
  bottom: 3px;
  right: 26px;
  width: 44px;
  height: 42px;
  font-size: 30px;
}

/**formulario*/
.contact-form {
  max-width: 600px;
  margin: auto;
  padding: 0 10px;
  overflow: hidden;
}

/**campos input del formulario*/
.contact-form-text {
  border-radius: 600px 100px 600px 100px;
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 16px 0;
  border: 0;
  background: #eeeeee;
  padding: 20px 40px;
  outline: none;
  color: #222831;
  transition: 0.5s;
}

/**placeholder de los campos input del formulario*/
.contact-form-text::placeholder {
  color: #00adb5;
  text-align: center;
  opacity: 0.8;
}

/**efecto focus de los campos del formulario*/
.contact-form-text:focus {
  box-shadow: 0 0 10px 4px #00adb5;
}

/**textarea del formulario*/
textarea.contact-form-text {
  resize: none;
  height: 120px;
}

/**boton submit del formulario*/
.contact-form-btn {
  float: right;
  border: 0;
  background: #00adb5;
  color: #fff;
  padding: 12px 50px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s;
}

/**efecto hover del boton submit del formulario*/
.contact-form-btn:hover {
  background: #393e46;
}

/**color a subrayar con el raton*/
h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection,
p::selection {
  background-color: #00adb5;
  color: white;
}
