/**div principal de la pagina de inicio*/
.container-all {
  position: relative;
  max-width: 2000px;
  width: 100%;
  overflow: hidden;
  text-align: center;
  display: inline-block;
}

/**----------Slider----------*/

/**div principal del slider de imágenes de la página de inicio*/
div#slider {
  overflow: hidden;
}

/**div del slider que contiene las imagenes de la página de inicio*/
div#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 15s slidy infinite;
}

/* imágenes del slider de imágenes de la página de inicio*/
div#slider figure img {
  width: 20%;
  float: left;
}

/**tamaño de las imagenes del slider de imágenes de la página de inicio*/
#slider img {
  height: 800px;
}

/**tamaño de las imagenes del slider de imágenes de la página de inicio en tamaño adaptable*/
@media all and (max-width: 900px) {
  #slider img {
    height: 400px;
  }
}

/**esta parte del código define el movimiento de las imágenes a la izquierda*/
@keyframes slidy {
  0% {
    left: 0%;
  }
  20% {
    left: 0%;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -300%;
  }
}

/**----------Sección galeria----------*/

/**dib debajo del slider que da la bienvenida a los usuarios en la sección galeria de la página de inciio*/
.centro {
  margin: 0 auto;
  box-shadow: 0px 5px 5px 5px white;
  width: 60%;
  text-align: center;
  background-color: white;
}

/**div de la seccion de la galeria de la pagina de inicio*/
.galeria-inicio {
  text-align: center;
  background-color: #222831;
}

/**h2 (titulo) de la seccion de la galeria de la pagina de inicio*/
.galeria-inicio h2 {
  text-align: center;
  margin: 30px;
  display: flex;
  justify-content: center;
  color: #00adb5;
  text-shadow: #00adb5 0 0 4px;
}

/**hr de la seccion de la galeria de la pagina de inicio que separa el titulo con un parrafo e imágenes*/
.galeria-inicio hr {
  background-color: white;
  height: 3px;
  width: 5vw;
  margin: 20px auto;
  display: flex;
  justify-items: center;
  justify-content: center;
}

/**Color del parrafo de la seccion de la galeria de la página de inicio*/
.galeria-inicio .encima-imagenes {
  color: white;
}

/**boton de la seccion de la galeria de la pagina de inicio para acceder a la página galeria*/
.galeria-inicio-boton {
  background-color: #00adb5;
  color: #eeeeee;
  padding: 10px;
  margin-bottom: 50px;
  border-radius: 10px 10px;
  border: white solid 3px;
}

/**efecto hover del boton de la seccion de la galeria de la pagina de inicio para acceder a la página galeria*/
.galeria-inicio-boton:hover {
  background-color: #222831;
}

/**imagenes de la seccion de la galeria de la pagina de inicio*/
.galeria-inicio img {
  border: #00adb5 solid 3px;
  border-image-slice: 4.5 fill;
  border-image-repeat: round;
  border-image-width: 17px;
  margin: 10px;
  width: 100%;
  max-width: 300px;
  height: 200px;
  padding: 5px;
  text-align: justify;
  background-color: white;
}

/**efecto hover de saturación de las imagenes de la sección de la galeria de la página de inicio*/
.galeria-inicio img:hover {
  filter: saturate(300%);
}

/**----------Sección historia----------*/

/**div que contiene los div empezo-animacion*/
.noticia {
  width: 90%;
  margin: 20px auto;
  color: #393e46;
  padding: 25px;
  opacity: 0.9;
}

/**parrafo del div noticia*/
.noticia p {
  font-size: 20px;
}

/**imagenes situadas a la izquierda de los div noticia*/
.noticia .izquierda {
  float: left;
  margin-right: auto;
  margin: 10px;
  width: 100%;
  max-width: 300px;
  height: 300px;
}

/**h2 (titulo) de la seccion de la historia de la pagina de inicio*/
.historia h2 {
  text-align: center;
  margin: 30px;
  display: flex;
  justify-content: center;
  color: #00adb5;
  text-shadow: #00adb5 0 0 4px;
}

/**hr de la seccion de la histoeiade la pagina de inicio que separa el titulo con un parrafo y una imágen*/
.historia hr {
  background-color: #222831;
  height: 3px;
  width: 5vw;
  margin: 20px auto;
  display: flex;
  justify-items: center;
  justify-content: center;
}

/**boton de la seccion de la historia de la pagina de inicio para acceder a la página historia*/
.historia-boton {
  background-color: #393e46;
  color: #eeeeee;
  padding: 10px;
  margin-bottom: 50px;
  border-radius: 10px 10px;
  text-align: center;
  border: #00adb5 solid 3px;
}

/**efecto hover del boton de la seccion de la historia de la pagina de inicio para acceder a la página historia*/
.historia-boton:hover {
  background-color: #00adb5;
}

/**----------Sección programas----------*/

/**div de la seccion de los programas gratuitos de la página de inicio*/
.gratuitos {
  text-align: center;
  display: block;
  background-color: #222831;
  border-bottom: solid 3px #00adb5;
}
/**tarjetas de la seccion de los programas gratuitos de la página de inicio*/
.gratuitos .card {
  width: 20vh;
  border: #393e46 solid 3px;
}

/**h2 (titulo) de la seccion de programas gratuitos de la página de inicio*/
.gratuitos h2 {
  color: white;
  text-shadow: #fff 0 0 10px;
}

/**Imagenes de las tarjetas de la sección de programas gratuitos de la página de inicio*/
.card img {
  height: 300px;
  width: 100%;
  text-align: center;
}

/**div de la seccion de los programas de compra de la página de inicio*/
.compra {
  text-align: center;
  display: block;
  background-color: #222831;
}

/**tarjetas de la seccion de los programas de compra de la página de inicio*/
.compra .card {
  width: 20px;
  border: #00adb5 solid 3px;
}

/**h2 (titulo) de la seccion de programas de compra de la página de inicio*/
.compra h2 {
  color: white;
  text-shadow: #fff 0 0 10px;
}

/**----------Sección comunidad----------*/

/**div principal de la sección de comunidad de la página de inicio*/
.comunidad {
  margin-top: 60px;
}

/**h2 (titulo) de la seccion comunidad de la pagina de inicio que separa el titulo con los demás parrafos*/
.comunidad h2 {
  color: #00adb5;
  margin: 30px;
  text-shadow: #00adb5 0 0 4px;
}

/**hr que va debajo del titulo de la sección de comunidad de la pagina de inicio*/
.comunidad hr {
  background-color: #393e46;
  height: 3px;
  width: 5vw;
  margin: 5px auto;
  display: flex;
  justify-items: center;
  justify-content: center;
}

/**parrafos de la sección comunidad de la página de inicio*/
.comunidad p {
  text-align: center;
  font-size: 20px;
}

/**div que contiene los datos de la sección comunidad de la página de inicio*/
.comunidad .palabra {
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

/**datos de la sección comunidad de la página de inicio*/
.comunidad .palabra > span {
  color: #00adb5;
  font-size: 5vh;
}

/**div que contiene las palabras relacionadas con los datos de la sección comunidad de la página de inicio*/
.comunidad .letra {
  text-align: center;
  margin-bottom: 30px;
}

/**div que contiene las palabras relacionadas con los datos de la sección comunidad de la página de inicio*/
.comunidad .letra span {
  color: #393e46;
  font-size: 3vh;
}

/**div que contiene la imagen de la seccion comunidad de la página de inicio*/
.comunidad .datos-globo {
  display: flex;
  align-items: center;
  justify-content: center;
}

/**imagen de la seccion comunidad de la página de inicio*/
.comunidad img {
  margin: 10px;
  width: 100%;
  max-width: 300px;
  height: 200px;
  text-align: center;
}

/**----------Sección tutoriales----------*/

/**div de la sección de los tutoriales de la página de inicio*/
.tutoriales-inicio {
  background-color: #222831;
  height: auto;
  width: 100%;
  float: left;
  text-align: center;
}

/**h2 (titulo) de la sección de los tutoriales de la página de inicio*/
.tutoriales-inicio h2 {
  color: #eee;
  text-align: center;
  margin: 30px;
  text-shadow: #fff 0 0 10px;
}

/**hr que va debajo del titulo de la sección de tutoriales de la página de inicio*/
.tutoriales-inicio hr {
  background-color: #00adb5;
  height: 3px;
  width: 5vw;
  margin: 20px auto;
  display: flex;
  justify-items: center;
  justify-content: center;
}

/**primer div de las imágenes de la sección de los tutoriales de la página de inicio*/
.tutoriales-inicio .imagenes-videos {
  align-items: center;
  justify-content: center;
  text-align: center;
}

/**segundo div de las imágenes de la sección de los tutoriales de la página de inicio*/
.tutoriales-inicio .imagenes-videos2 {
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 50px;
}

/**imágenes de la sección de tutoriales de la página de inicio*/
.tutoriales-inicio img {
  border: black solid 3px;
  margin: 10px;
  width: 100%;
  max-width: 300px;
  height: 200px;
  border: solid white 3px;
  text-align: center;
  box-shadow: 5px 5px 5px #00adb5;
}

/**----------Sección contacto----------*/

/**div de la seccion de contacto de la página de inicio*/
.empezar {
  height: auto;
  width: 100%;
  background-color: white;
}

/**h2 (titulo) de la sección de contacto de la página de inicio*/
.empezar h2 {
  color: #00adb5;
  text-align: center;
  margin: 30px;
  text-shadow: #00adb5 0 0 4px;
}

/**hr que esta debajo del titulo de la sección de contacto de la página de inicio*/
.empezar hr {
  background-color: #222831;
  height: 3px;
  width: 5vw;
  margin: 20px auto;
  display: flex;
  justify-items: center;
  justify-content: center;
}

/**parrafos de la sección de contacto de la página de inicio*/
.empezar p {
  color: #222831;
  text-align: center;
  margin: 30px;
}

/**Boton para acceder a la pagina de contacto. Este boton se encuentra en la seccion de contacto de la página de inicio*/
.empezar .container button {
  border: solid #222831 2px;
}

/**Efecto hover del boton para acceder a la pagina de contacto. Este boton se encuentra en la seccion de contacto de la página de inicio*/
.empezar .container button:hover {
  border: solid #00adb5 2px;
  background-color: #222831;
}

/**enlaces de las diferentes redes sociales de la sección de contacto de la página de inicio*/
.empezar .container a {
  color: white;
  text-decoration: none;
}

/**div de las redes sociales*/
.redes {
  display: flex;
  justify-content: center;
  padding-top: 1.25rem;
}

/**iconos del div de las redes sociales*/
.redes i {
  color: #00adb5;
  margin: 1.25rem;
  font-size: 3.5rem;
  text-align: center;
}
