/**-------------------TUTORIALES PAGINA WEB---------------------------*/

/**tarjetas de la pagina de tutoriales*/
.tutoriales .card-tuto {
  text-align: center;
  display: inline;
}

/**div donde van los videos de la pagina basico de tutoriales*/
.tutoriales-basicos {
  text-align: center;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  margin: 20px;
}

/**h5 con un icono que informa de un nuevo video tutorial*/
.nuevo {
  color: #00adb5;
}

/**div donde van los videos de la pagina basico de tutoriales*/
h5 {
  text-align: center;
}

/**videos de la pagina basico de tutoriales*/
.tutoriales-basicos .video {
  position: absolute;
  top: 0;
  left: 10%;
  width: 80%;
  height: 90%;
}

/**div donde van los videos de la pagina medio de tutoriales*/
.tutoriales-medio {
  text-align: center;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  margin: 20px;
}

/**videos de la pagina medio de tutoriales*/
.tutoriales-medio .video {
  position: absolute;
  top: 0;
  left: 10%;
  width: 80%;
  height: 90%;
}

/**div donde van los videos de la pagina medio de tutoriales*/
.tutoriales-experto {
  text-align: center;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  margin: 20px;
}

/**videos de la pagina medio de tutoriales*/
.tutoriales-experto .video {
  position: absolute;
  top: 0;
  left: 10%;
  width: 80%;
  height: 90%;
}

/**Tamaño adaptable de los videos de los diferentes niveles de los tutoriales*/
@media all and (max-width: 900px) {
  .tutoriales-basicos .video {
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .tutoriales-medio .video {
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .tutoriales-experto .video {
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

/**div donde va el enlace para volver a la pagina de tutoriales desde cualquier pagina de los tutoriales*/
.enlace-tutoriales {
  text-align: center;
  margin-bottom: 15px;
}

/**icono situado al lado del enlace para volver a la pagina de tutoriales*/
.enlace-tutoriales i {
  margin: 10px;
  font-size: 30px;
  color: #222831;
}

/**el enlace para volver a la pagina de tutoriales desde cualquier pagina de los tutoriales*/
.enlace-tutoriales a {
  color: #222831;
  text-decoration: none;
  font-size: 20px;
}

/**efecto hover del enlace para volver a la pagina de tutoriales desde cualquier pagina de los tutoriales*/
.enlace-tutoriales a:hover {
  color: #00adb5;
  text-decoration: none;
}
