/**configurar el margin y padding de la página web*/
* {
  margin: 0;
  padding: 0;
}

/**configurar el body de la página web*/
body {
  display: flex;
  flex-direction: column;
}

/**INICIO DE LA PAGINA PRINCIPAL*/

/**Menu de navegación que se encuentra dentro de la página web que comunica todas las páginas*/
.menu-navegacion {
  background-color: #222831;
  padding: 1px 40px;
  height: auto;
}

/**lista del menu de navegacion de la página web*/
nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

/**elemento de la lista del menu de navegación de la página web*/
.menu-navegacion ul li {
  padding: 15px 0;
  cursor: pointer;
  list-style: none;
}

/**efecto hover de los enlaces de las páginas del menu de navegación de la página web*/
.menu-navegacion ul li:hover a {
  color: #00adb5;
  text-decoration: none;
}

nav ul li.menu {
  width: auto;
  position: relative;
  margin: 0 16px;
  text-align: center;
  order: 3;
}

.menu-navegacion ul li.menu:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 9px;
  height: 2px;
  width: 100%;
  opacity: 0;
  background: #00adb5;
  transition: all 0.2s linear;
}

.menu-navegacion ul li.menu:hover:after {
  opacity: 1;
  bottom: 13px;
}

.menu-navegacion ul li.logo {
  flex: 1;
  color: #eeeeee;
  font-size: 20px;
  font-weight: 600;
  cursor: default;
  user-select: none;
  text-shadow: #00adb5 1px 1px 5px;
}

.menu-navegacion ul img {
  margin-top: 10px;
  width: 90px;
  height: 60px;
}

/**imagen del cambio de idioma del menu de navegación de la página web*/
.menu-navegacion ul .imagen-idioma {
  margin-top: 10px;
  width: 45px;
  height: 40px;
}

nav ul li a {
  color: #eeeeee;
  font-size: 18px;
  text-decoration: none;
  transition: 0.4s;
}

nav ul li i {
  font-size: 23px;
}

/**elemento icono del submenu de tutoriales del menu de navegación de la página web*/
.fa-arrow-circle-down {
  color: #eee;
}

.menu li:hover {
  color: #00adb5;
}

/**elemento hamburguesa para desplegar el menu de navegación de la página web  en tamaño movil*/
nav .hamburgesa {
  display: none;
}

nav .hamburgesa.hide i:before {
  content: "\f00d";
}

.menu-navegacion ul ul {
  display: none;
}

.menu-navegacion ul li ul {
  display: none;
  position: absolute;
  width: auto;
  margin: 0 16px;
  order: 3;
  overflow: hidden;
  z-index: 2;
}

.menu-navegacion ul li:hover > ul {
  display: block;
  background-color: #222831;
  padding: 10px;
  margin: 5px;
  z-index: 2;
}

.menu-navegacion ul li:hover > ul li:hover {
  background-color: white;
}

/**elemento li del menu de navegación que muestra el nombre del usuario*/
.bienvenido {
  color: #00adb5;
  text-align: center;
  width: auto;
  position: relative;
  margin: 0 16px;
  order: 3;
  animation: fluido 10s ease-in-out infinite;
  background: linear-gradient(-45deg, white, #00adb5, white, #00adb5);
  background-size: 300%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/**animación de colores del elemento .bienvenido*/
@keyframes fluido {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

/**Tamaño adaptable del menu de navegación de la página web*/
@media all and (max-width: 900px) {
  .menu-navegacion {
    padding: 5px 30px;
  }
  .menu-navegacion ul li.menu {
    width: 100%;
    display: none;
  }
  .menu-navegacion ul li.menu.hide {
    display: block;
  }
  .menu-navegacion ul li.menu:hover {
    border-radius: 10px;
    box-shadow: inset 0 0 5px #00adb5, inset 0 0 10px #00adb5;
  }
  .menu-navegacion ul li.menu:hover:after {
    opacity: 0;
  }
  .menu-navegacion ul li.hamburgesa {
    display: block;
  }
  .menu-navegacion ul li:hover > ul {
    display: block;
    background-color: #222831;
    padding: 25px;
    margin: 5px;
    position: relative;
  }
}

/**---------------FOOTER PAGINA PRINCIPAL----------------*/

/**lista desordenadas del footer de la página web*/
footer ul {
  list-style: none;
  text-align: center;
  margin-left: 30px;
}

/**elemento footer de la página web*/
footer {
  background-color: #393e46;
  color: #bbb;
  line-height: 1.5;
}

/**enlaces del menu del footer de la página web*/
footer a {
  text-decoration: none;
  color: #eee;
}

/**efecto hover de los enlaces del menu del footer de la página web*/
footer a:hover {
  color: #00adb5;
}

/**titulo de las diferentes secciones del footer de la página web*/
.ft-title {
  color: #fff;
  font-family: "Merriweather", serif;
  font-size: 1.375rem;
  padding-bottom: 0.625rem;
  text-align: center;
}

.container {
  flex: 1;
}

/**seccion de la parte de arriba(páginas, galeria y tutoriales) del footer de la página web*/
.ft-main {
  padding: 1.25rem 1.875rem;
  display: flex;
  flex-wrap: wrap;
}

/**función de css para el tamaño adaptable de la sección de arriba (páginas, galeria y tutoriales) del footer de la página web*/
@media only screen and (min-width: 29.8125rem /* 477px */) {
  .ft-main {
    justify-content: space-evenly;
  }
}

/**función de css para el tamaño adaptable (otro tamaño) de la sección de arriba (páginas, galeria y tutoriales) del footer de la página web*/
@media only screen and (min-width: 77.5rem /* 1240px */) {
  .ft-main {
    justify-content: space-evenly;
  }
}

/**funcion de css para el tamaño adaptable de la secciond de arriba (páginas) del footer de la página web*/
@media all and (max-width: 900px) {
  .ft-main {
    display: block;
  }
}

/**seccion del medio (redes sociales) del footer de la página web*/
.ft-social {
  padding: 0 1.875rem 1.25rem;
}

/**lista desordenada de la seccion de redes sociales del footer de la página web*/
.ft-social-list {
  display: flex;
  justify-content: center;
  border-top: 1px #00adb5 solid;
  padding-top: 1.25rem;
}

/**elementos de las redes sociales del footer de la página web*/
.ft-social-list li {
  margin: 0.5rem;
  font-size: 1.25rem;
}

/**secciond e abajo (privacidad y terminos) del footer de la página web*/
.ft-legal {
  padding: 0.9375rem 1.875rem;
  background-color: #222831;
}

/**lista desordenada de la seccion de privacidad y terminos del footer de la página web*/
.ft-legal-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

/**funcion de css para el tamaño adaptable de la secciond de abajo (privacidad y terminos) del footer de la página web*/
@media all and (max-width: 900px) {
  .ft-legal-list {
    width: 95%;
    display: block;
    flex-wrap: wrap;
  }
}

/**elementos de la lista de la seccion de privacidad y terminos del footer de la página web*/
.ft-legal-list li {
  margin: 0.525rem 0.625rem;
  white-space: nowrap;
  text-decoration: none;
}
/* one before the last child */
.ft-legal-list li:nth-last-child(2) {
  flex: 1;
}

/**---------ACCESO DENEGADO----------------*/

/**div principal de acceso denegado cuando intentas acceder a una pagina sin iniciar sesión*/
.denegado {
  margin: auto;
  max-width: 100%;
}

/**h1 del acceso denegado*/
.denegado h1 {
  color: #00adb5;
  text-align: center;
  text-shadow: #00adb5 0 0 10px;
}

/**parrafos del acceso denegado*/
.denegado p {
  color: #222831;
  text-align: center;
  font-size: 23px;
}

/**enlaces del acceso denegado para iniciar sesión o registrarse*/
.denegado a {
  color: #00adb5;
  text-align: center;
  margin: auto;
  justify-content: center;
  align-items: center;
}

/**imagen del acceso denegado*/
.denegado-img {
  width: 700px;
  height: 500px;
  max-width: 100%;
}

/**---------OTROS----------------*/

/**borde que separa una sección de otra*/
.border {
  width: 100px;
  height: 10px;
  background: #00adb5;
  margin: 30px auto;
}

/**formulario*/
.contact-form {
  max-width: 600px;
  margin: auto;
  padding: 0 10px;
  overflow: hidden;
}

/**campos input del formulario*/
.contact-form-text {
  border-radius: 600px 100px 600px 100px;
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 16px 0;
  border: 0;
  background: #eeeeee;
  padding: 20px 40px;
  outline: none;
  color: #222831;
  transition: 0.5s;
}

/**placeholder de los campos input del formulario*/
.contact-form-text::placeholder {
  color: #00adb5;
  text-align: center;
}

/**efecto focus de los campos del formulario*/
.contact-form-text:focus {
  box-shadow: 0 0 10px 4px #00adb5;
}

/**textarea del formulario*/
textarea.contact-form-text {
  resize: none;
  height: 120px;
}

/**boton submit del formulario*/
.contact-form-btn {
  float: right;
  border: 0;
  background: #00adb5;
  color: #fff;
  padding: 12px 50px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s;
}

/**efecto hover del boton submit del formulario*/
.contact-form-btn:hover {
  background: #393e46;
}

/**clase que se activa cuando estas en una pagina*/
.active {
  color: #00adb5;
}

/**icono en la esquina inferior derecha para subir a la parte de más arriba de la pagina*/
.ir-arriba {
  padding: 10px;
  background: #00adb5;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  position: fixed;
  bottom: 10px;
  right: 10px;
  border-radius: 30px 30px;
}

/**enlace del icono para subir arriba(se sube cuando se pulsa este enlace)*/
.ir-arriba a {
  color: #fff;
  text-decoration: none;
}

/**efecto hover del enlace del icono para subir arriba(se sube cuando se pulsa este enlace)*/
.ir-arriba a:hover {
  color: #222831;
  text-decoration: none;
}

/**aviso de un error de un formulario*/
.error {
  color: #e4320a;
  text-align: center;
  border: solid white 3px;
  font-size: 20px;
  background-color: #222831;
  padding: 5px;
  margin: 5px;
  width: 100%;
}

/**aviso de un proceso correcto de un formulario*/
.correcto {
  color: greenyellow;
  text-align: center;
  border: solid white 3px;
  font-size: 20px;
  background-color: #222831;
  padding: 5px;
  margin: 5px;
  width: 100%;
}

/**imagen cambiar idioma*/
.menu img {
  width: 50px;
  height: 50px;
  display: block;
  margin: 0 auto;
}

.mostrar {
  background-color: white;
  width: 15%;
  text-align: center;
  margin: 20px auto;
}

/**input de la contraseña donde se mostrara una imagen para mostrar la contraseña*/
.ojo {
  position: relative;
  width: 100%;
}

/**icono del ojo que mostrara la contraseña*/
.ojo i {
  color: #00adb5;
  position: absolute;
  bottom: 3px;
  right: 26px;
  width: 44px;
  height: 42px;
  font-size: 30px;
}

/**color a subrayar con el raton*/
h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection,
p::selection,
a::selection {
  background-color: #00adb5;
  color: white;
}
